.posts-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 200px;
}

.read-more {
  background: unset !important;
  border: none !important;
  color: rgb(25, 118, 210);
  cursor: pointer;
  text-decoration: none !important;
  font-weight: bold !important;
}
